workflow_dental.json
{
  "name": "Secretaria Dental - WhatsApp",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "WhatsApp Entrante",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "secretaria-dental",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-parse",
      "name": "Parsear Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "1", "name": "message", "value": "={{ $json.body.Body ?? $json.Body ?? $json.message ?? '' }}", "type": "string"},
            {"id": "2", "name": "from", "value": "={{ $json.body.From ?? $json.From ?? '' }}", "type": "string"},
            {"id": "3", "name": "sessionId", "value": "={{ ($json.body.From ?? $json.From ?? 'unknown').replace('whatsapp:', '') }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-agent",
      "name": "Secretaria AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [480, 0],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Sos la secretaria virtual de un consultorio dental. Gestionas turnos por WhatsApp de forma amable y profesional en español rioplatense.\n\nTu objetivo es entender lo que quiere el paciente y devolver SIEMPRE un JSON con este formato exacto (sin markdown, sin texto extra):\n{\n  \"reply\": \"mensaje amable para el paciente\",\n  \"action\": \"none|book|reschedule|cancel|query\",\n  \"appointment\": {\n    \"patientName\": \"\",\n    \"date\": \"YYYY-MM-DD\",\n    \"time\": \"HH:MM\",\n    \"notes\": \"\"\n  }\n}\n\nReglas:\n- Horario del consultorio: lunes a viernes de 9:00 a 18:00\n- Si el paciente quiere agendar: pedi nombre completo, fecha y hora deseada. Cuando tengas todo, action=book\n- Si quiere reprogramar: pedi los nuevos datos. action=reschedule\n- Si quiere cancelar: confirma cual turno. action=cancel\n- Si solo consulta horarios o disponibilidad: action=query, appointment puede ser null\n- Si falta info: action=none y continua la conversacion para obtenerla\n- Siempre confirma los datos del turno en el reply cuando action=book/reschedule/cancel"
        }
      }
    },
    {
      "id": "node-openai",
      "name": "GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [380, 220],
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      }
    },
    {
      "id": "node-memory",
      "name": "Memoria por Paciente",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [580, 220],
      "parameters": {
        "sessionKey": "={{ $('Parsear Mensaje').item.json.sessionId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "node-parse-json",
      "name": "Parsear Respuesta AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0],
      "parameters": {
        "jsCode": "const raw = $input.first().json.output ?? '';\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { reply: raw, action: 'none', appointment: null };\n} catch(e) {\n  parsed = { reply: raw, action: 'none', appointment: null };\n}\nreturn [{ json: { ...parsed, from: $('Parsear Mensaje').first().json.from, sessionId: $('Parsear Mensaje').first().json.sessionId } }];"
      }
    },
    {
      "id": "node-if-booking",
      "name": "Tiene Turno?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 0],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "none",
              "operator": {"type": "string", "operation": "notEquals"}
            },
            {
              "id": "2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "query",
              "operator": {"type": "string", "operation": "notEquals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-sheets",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1200, -120],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PENDIENTE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Turnos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Paciente": "={{ $json.appointment?.patientName ?? '' }}",
            "Fecha": "={{ $json.appointment?.date ?? '' }}",
            "Hora": "={{ $json.appointment?.time ?? '' }}",
            "Telefono": "={{ $json.sessionId }}",
            "Estado": "={{ $json.action === 'cancel' ? 'Cancelado' : $json.action === 'reschedule' ? 'Reprogramado' : 'Confirmado' }}",
            "Notas": "={{ $json.appointment?.notes ?? '' }}",
            "FechaRegistro": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "node-twilio-reply",
      "name": "Responder WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/PENDIENTE_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "From", "value": "whatsapp:PENDIENTE_TWILIO_NUMBER"},
            {"name": "To", "value": "={{ $json.from }}"},
            {"name": "Body", "value": "={{ $json.reply }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-respond",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 0],
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [{"name": "Content-Type", "value": "text/xml"}]
          }
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Entrante": {"main": [[{"node": "Parsear Mensaje", "type": "main", "index": 0}]]},
    "Parsear Mensaje": {"main": [[{"node": "Secretaria AI", "type": "main", "index": 0}]]},
    "Secretaria AI": {"main": [[{"node": "Parsear Respuesta AI", "type": "main", "index": 0}]]},
    "GPT-4o": {"ai_languageModel": [[{"node": "Secretaria AI", "type": "ai_languageModel", "index": 0}]]},
    "Memoria por Paciente": {"ai_memory": [[{"node": "Secretaria AI", "type": "ai_memory", "index": 0}]]},
    "Parsear Respuesta AI": {"main": [[{"node": "Tiene Turno?", "type": "main", "index": 0}]]},
    "Tiene Turno?": {
      "main": [
        [{"node": "Guardar en Google Sheets", "type": "main", "index": 0}],
        [{"node": "Responder WhatsApp", "type": "main", "index": 0}]
      ]
    },
    "Guardar en Google Sheets": {"main": [[{"node": "Responder WhatsApp", "type": "main", "index": 0}]]},
    "Responder WhatsApp": {"main": [[{"node": "Responder Webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
